div.title {
    font-size: 30px;
    text-align: center;
}
div{
    color: whitesmoke;
}
div.inner{
    position: static;
    align-items: center;
}
body{
    background-color: #202324 !important;
    font-size: 22%;
}
html{
    background-color: #202324 !important;
    font-family: 'Montserrat';
}
.resp {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

fg:before {
    content: attr(t);
    display: block;
    font-size: 50%;
    text-align: start;
    line-height: 1.5;
}

fg {
    display: inline-block;
    text-indent: 0px;
    line-height: normal;
    text-emphasis: none;
    text-align: center;
    line-height: 1;
}
